{% extends "base.html" %}
{% block content %}

	<div class="container">
		<div class="inner row">
			<div class="col-lg-12 text-page">

				<div class="blog">
					<div class="row">
												<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="item matchHeight">
								<a href="post.html" class="photo"><img src="{{url_for('static', filename='images/_gallery-1.jpg') }}" alt="Blog" class="full-width rounded"></a>
								<div class="blog-info">
									<div class="row">
										<div class="col-lg-6 col-sm-12  col-xs-6">
											<a href="post.html"><span class="fa fa-clock-o"></span>January 2, 2017</a>
										</div>
										<div class="col-lg-6 col-sm-12 col-xs-6 right">
											<ul>
												<li class="icon-fav"><a href="#"><span class="fa fa-heart"></span>16</a></li>
												<li class="icon-comments"><a href="#"><span class="fa fa-commenting"></span>14</a></li>
											</ul>
										</div>
									</div>
								</div>								
								<div class="description">
									<a href="post.html" class="header"><h5>How often is a taxi used</h5></a>
									<p class="text">
										Etiam maximus, tortor et commodo tincidunt, metus arcu porta libero, at dapibus nisl diam non est. Curabitur nunc urna, pulvinar in viverra sed. 									</p>
									<a href="post.html" class="btn btn-yellow">read more</a>
								</div>
							</div>
						</div>
												<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="item matchHeight">
								<a href="post.html" class="photo"><img src="{{url_for('static', filename='images/_gallery-2.jpg') }}" alt="Blog" class="full-width rounded"></a>
								<div class="blog-info">
									<div class="row">
										<div class="col-lg-6 col-sm-12  col-xs-6">
											<a href="post.html"><span class="fa fa-clock-o"></span>January 2, 2017</a>
										</div>
										<div class="col-lg-6 col-sm-12 col-xs-6 right">
											<ul>
												<li class="icon-fav"><a href="#"><span class="fa fa-heart"></span>16</a></li>
												<li class="icon-comments"><a href="#"><span class="fa fa-commenting"></span>14</a></li>
											</ul>
										</div>
									</div>
								</div>								
								<div class="description">
									<a href="post.html" class="header"><h5>Taxi for business</h5></a>
									<p class="text">
										Nam rhoncus egestas mi, a rutrum orci rutrum sit amet. Nulla id tempor odio. Vestibulum tempus mattis gravida. Maecenas non nisl quam.									</p>
									<a href="post.html" class="btn btn-yellow">read more</a>
								</div>
							</div>
						</div>
												<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="item matchHeight">
								<a href="post.html" class="photo"><img src="{{url_for('static', filename='images/_gallery-3.jpg') }}" alt="Blog" class="full-width rounded"></a>
								<div class="blog-info">
									<div class="row">
										<div class="col-lg-6 col-sm-12  col-xs-6">
											<a href="post.html"><span class="fa fa-clock-o"></span>January 2, 2017</a>
										</div>
										<div class="col-lg-6 col-sm-12 col-xs-6 right">
											<ul>
												<li class="icon-fav"><a href="#"><span class="fa fa-heart"></span>16</a></li>
												<li class="icon-comments"><a href="#"><span class="fa fa-commenting"></span>14</a></li>
											</ul>
										</div>
									</div>
								</div>								
								<div class="description">
									<a href="post.html" class="header"><h5>The best ways to pay a taxi</h5></a>
									<p class="text">
										Aliquam eu consectetur libero. Aliquam nec auctor justo. Vestibulum sodales nunc vel bibendum consequat.									</p>
									<a href="post.html" class="btn btn-yellow">read more</a>
								</div>
							</div>
						</div>
												<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="item matchHeight">
								<a href="post.html" class="photo"><img src="{{url_for('static', filename='images/_gallery-4.jpg') }}" alt="Blog" class="full-width rounded"></a>
								<div class="blog-info">
									<div class="row">
										<div class="col-lg-6 col-sm-12  col-xs-6">
											<a href="post.html"><span class="fa fa-clock-o"></span>January 2, 2017</a>
										</div>
										<div class="col-lg-6 col-sm-12 col-xs-6 right">
											<ul>
												<li class="icon-fav"><a href="#"><span class="fa fa-heart"></span>16</a></li>
												<li class="icon-comments"><a href="#"><span class="fa fa-commenting"></span>14</a></li>
											</ul>
										</div>
									</div>
								</div>								
								<div class="description">
									<a href="post.html" class="header"><h5>How often is a taxi used</h5></a>
									<p class="text">
										Etiam maximus, tortor et commodo tincidunt, metus arcu porta libero, at dapibus nisl diam non est. Curabitur nunc urna, pulvinar in viverra sed. 									</p>
									<a href="post.html" class="btn btn-yellow">read more</a>
								</div>
							</div>
						</div>
												<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="item matchHeight">
								<a href="post.html" class="photo"><img src="{{url_for('static', filename='images/_gallery-5.jpg') }}" alt="Blog" class="full-width rounded"></a>
								<div class="blog-info">
									<div class="row">
										<div class="col-lg-6 col-sm-12  col-xs-6">
											<a href="post.html"><span class="fa fa-clock-o"></span>January 2, 2017</a>
										</div>
										<div class="col-lg-6 col-sm-12 col-xs-6 right">
											<ul>
												<li class="icon-fav"><a href="#"><span class="fa fa-heart"></span>16</a></li>
												<li class="icon-comments"><a href="#"><span class="fa fa-commenting"></span>14</a></li>
											</ul>
										</div>
									</div>
								</div>								
								<div class="description">
									<a href="post.html" class="header"><h5>Taxi for business</h5></a>
									<p class="text">
										Nam rhoncus egestas mi, a rutrum orci rutrum sit amet. Nulla id tempor odio. Vestibulum tempus mattis gravida. Maecenas non nisl quam.									</p>
									<a href="post.html" class="btn btn-yellow">read more</a>
								</div>
							</div>
						</div>
												<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="item matchHeight">
								<a href="post.html" class="photo"><img src="{{url_for('static', filename='images/_gallery-6.jpg') }}" alt="Blog" class="full-width rounded"></a>
								<div class="blog-info">
									<div class="row">
										<div class="col-lg-6 col-sm-12  col-xs-6">
											<a href="post.html"><span class="fa fa-clock-o"></span>January 2, 2017</a>
										</div>
										<div class="col-lg-6 col-sm-12 col-xs-6 right">
											<ul>
												<li class="icon-fav"><a href="#"><span class="fa fa-heart"></span>16</a></li>
												<li class="icon-comments"><a href="#"><span class="fa fa-commenting"></span>14</a></li>
											</ul>
										</div>
									</div>
								</div>								
								<div class="description">
									<a href="post.html" class="header"><h5>The best ways to pay a taxi</h5></a>
									<p class="text">
										Aliquam eu consectetur libero. Aliquam nec auctor justo. Vestibulum sodales nunc vel bibendum consequat.									</p>
									<a href="post.html" class="btn btn-yellow">read more</a>
								</div>
							</div>
						</div>
											</div>
					<div class="paging-navigation">
						<hr>
						<div class="pagination">
							<a href="#" class="prev disabled"><span class="fa fa-caret-left"></span> prev</a>
							<a href="#" class="page-numbers current">1</a>
							<a href="#" class="page-numbers">2</a>
							<a href="#" class="page-numbers">3</a>
							<a href="#" class="page-numbers">4</a>					
							<a href="#" class="next">next <span class="fa fa-caret-right"></span></a>
						</div>
					</div>							
				</div>
		
			</div>
		</div>
	</div>


	<section id="partners">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<h4 class="black margin-0">Our partners</h4>
					<h2 class="white margin-0">and clients</h2>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="row items">
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{url_for('static', filename='images/_partner-1.png') }}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{url_for('static', filename='images/_partner-2.png') }}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{url_for('static', filename='images/_partner-3.png') }}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{url_for('static', filename='images/_partner-4.png') }}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{url_for('static', filename='images/_partner-5.png') }}" alt="Partner"></a></div>
					</div>				
				</div>				
			</div>
		</div>
	</section>

	<section id="block-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-ms-6">
					<h4>About us</h4>
					<p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum. </p>

					<div class="social-small social-yellow">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-google-plus"></a>
						<a href="#" class="fa fa-pinterest"></a>
					</div>					
				</div>
				<div class="col-lg-5 col-md-5 hidden-md hidden-sm hidden-xs hidden-ms">					
					<h4>Explore</h4>
					<div class="row">
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Get Taxi</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Tariffs</a></li>
								<li><a href="#">Application</a></li>

							</ul>						
						</div>
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li><a href="#">Become a driver</a></li>
								<li><a href="#">Testimonials</a></li>
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Pages</a></li>
							</ul>						
						</div>						
					</div>

				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">					
					<h4>Contact us</h4>
					<p><span class="yellow">Address:</span> 43 2-nd Avenue,  New York, NY 29004-7153</p>

					<ul class="address">
						<li><span class="fa fa-phone"></span>800-5-800</li>
						<li><span class="fa fa-envelope"></span><a href="#">gettaxi@taxipark.co.uk</a></li>
						<li><span class="fa fa-skype"></span>gettaxipark</li>
					</ul>					
				</div>		
			</div>
		</div>
	</section>

	{%endblock%}