{% extends "base.html" %}
{% block content %}

	<section id="page-contacts">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-6">

							<h2 class="spanned"><span>Opening Hours:</span> 24/7</h2>
							<p>Our goal is to make your trips cheaper and the air cleaner. So you and the environment profit from it.</p>
						</div>					
						<div class="col-lg-12 col-md-12 col-sm-6">
							<ul class="address">
								<li class="large"><span class="fa fa-phone"></span>800-5-800</li>
								<li><span class="fa fa-skype"></span>GreenTaxi</li>
								<li><span class="fa fa-map-marker"></span>Sheshi Wilson,Tirana</li>
							</ul>			
						</div>
						<div class="col-lg-12 col-sm-12">
							<strong>Social:</strong>
							<ul class="social social-big">
								<li><a href="#" class="social-fb fa fa-facebook"></a></li>
								<li><a href="#" class="social-twitter fa fa-twitter"></a></li>
								<li><a href="#" class="social-youtube fa fa-youtube"></a></li>
								<li><a href="#" class="social-inst fa fa-instagram"></a></li>
							</ul>
							<a href="#" class="btn btn-black-bordered btn-lg">Get Taxi Online</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 contact-form">
							
					<form class="form form-sm form-validate">
						<h3 class="aligncenter">Send Message</h3>
						<div class="form-group">
							<label>Your name <span class="red">*</span></label>
							<input type="text" id="name" name="name" placeholder="Your name" class="ajaxField required">
						</div>
						<div class="form-group">
							<label>E-mail <span class="red">*</span></label>
							<input type="text" id="email" name="email" placeholder="E-mail" class="ajaxField required">
						</div>
						<div class="form-group">						
							<label>Message <span class="red">*</span></label>
							<textarea id="text" name="text" placeholder="Enter Message" class="ajaxField required"></textarea>
						</div>
						<input type="submit" name="send" value="Send" class="btn btn-yellow aligncenter btn-lg">
						<input type="hidden" id="type" name="type" value="1" class="ajaxField">
					</form>						
				</div>
			</div>
		</div>
	</section>

	<!-- Set google map coords and API key to yours -->
    <div id="map" data-lat="40.7529789" data-lng="-74.0044417" data-zoom="11"></div>


	<section id="partners">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<h4 class="black margin-0">Our partners</h4>
					<h2 class="white margin-0">and clients</h2>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="row items">
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{ url_for('static', filename='images/_partner-1.png')}}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{ url_for('static', filename='images/_partner-2.png')}}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{ url_for('static', filename='images/_partner-3.png')}}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{ url_for('static', filename='images/_partner-4.png')}}" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="{{ url_for('static', filename='images/_partner-5.png')}}" alt="Partner"></a></div>
					</div>				
				</div>				
			</div>
		</div>
	</section>

	<section id="block-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-ms-6">
					<h4>About us</h4>
					<p>Our goal is to make your trips cheaper and the air cleaner. So you and the environment profit from it.</p>

					<div class="social-small social-yellow">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-google-plus"></a>
						<a href="#" class="fa fa-pinterest"></a>
					</div>					
				</div>
				<div class="col-lg-5 col-md-5 hidden-md hidden-sm hidden-xs hidden-ms">					
					<h4>Explore</h4>
					<div class="row">
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Get Taxi</a></li>
							
								<li><a href="#">Tariffs</a></li>
						

							</ul>						
						</div>
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Pages</a></li>
							</ul>						
						</div>						
					</div>

				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">					
					<h4>Contact us</h4>
					<p><span class="yellow">Address:</span> Sheshi Wilson, Tirana</p>

					<ul class="address">
						<li><span class="fa fa-phone"></span>800-5-800</li>
						<li><span class="fa fa-envelope"></span><a href="#">GreenTaxi@al</a></li>
						<li><span class="fa fa-skype"></span>GreenTaxi</li>
					</ul>					
				</div>		
			</div>
		</div>
	</section>

	{%endblock%}