{% extends "base.html" %}
{% block content %}

	<section class="form-taxi-short">
		<div class="container">
			<h4 class="yellow aligncenter">Our operators are waiting for your call:</h4>
			<h3 class="aligncenter">800-5-800</h3>
			<p class="form-label">Also you can order a taxi online</p>
			<form class="form-validate">
				<div class="menu-types">
					<a href="#" data-value="1" class="type-1 active">Standart</a>
					<a href="#" data-value="2" class="type-2">Business</a>
					<a href="#" data-value="3" class="type-3 red">Vip</a>
					<a href="#" data-value="4" class="type-4">Bus-Minivan</a>
					<input type="hidden" name="type-value" class="type-value ajaxField" value="1">
				</div>
				<div class="row form-with-labels">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" name="from" value="" placeholder="From Address..." class="ajaxField required"><span class="fa fa-map-marker"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" name="to" value="" placeholder="To..." class="ajaxField"><span class="fa fa-map-marker"></span>
						</div>
					</div>
				</div>
				<div class="row form-with-labels">	
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" name="phone" value="" placeholder="Phone Number" class="ajaxField required"><span class="fa fa-phone"></span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" name="text" value="" placeholder="Date and Time" class="ajaxField"><span class="fa fa-calendar"></span>
						</div>
					</div>
				</div>
				<input type="submit" value="Get Taxi" class="btn btn-lg btn-black btn-white aligncenter">
				<input type="hidden" id="type" name="type" value="2" class="ajaxField">
			</form>
		</div>
	</section>




	<section id="tariffs">
		<div class="container">
			<h4 class="yellow">See Our</h4>
			<h2 class="h1">Tariffs</h2>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight">
						<div class="image"><img src="{{ url_for('static', filename='images/_tariff-1.png') }}" class="full-width" alt="Tariff"></div>
						<h4>Standart</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">€1<span>/km</span></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight">
						<div class="image"><img src="{{ url_for('static', filename='images/_tariff-2.png')}}" class="full-width" alt="Tariff"></div>
						<h4>Business</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">€2<span>/km</span></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight vip">
						<div class="image"><img src="{{ url_for('static', filename='images/_tariff-3.png')}}" class="full-width" alt="Tariff"></div>
						<h4 class="red">Vip</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">€3<span>/km</span></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight">
						<div class="image"><img src="{{ url_for('static', filename='images/_tariff-4.png')}}" class="full-width" alt="Tariff"></div>
						<h4>Bus-minivan</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">€3<span>/km</span></div>
					</div>
				</div>												
			</div>
		</div>
	</section>			


	

	<section id="block-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-ms-6">
					<h4>About us</h4>
					<p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum. </p>

					<div class="social-small social-yellow">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-google-plus"></a>
						<a href="#" class="fa fa-pinterest"></a>
					</div>					
				</div>
				<div class="col-lg-5 col-md-5 hidden-md hidden-sm hidden-xs hidden-ms">					
					<h4>Explore</h4>
					<div class="row">
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Get Taxi</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Tariffs</a></li>
								<li><a href="#">Application</a></li>

							</ul>						
						</div>
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li><a href="#">Become a driver</a></li>
								<li><a href="#">Testimonials</a></li>
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Pages</a></li>
							</ul>						
						</div>						
					</div>

				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">					
					<h4>Contact us</h4>
					<p><span class="yellow">Address:</span> 43 2-nd Avenue,  New York, NY 29004-7153</p>

					<ul class="address">
						<li><span class="fa fa-phone"></span>800-5-800</li>
						<li><span class="fa fa-envelope"></span><a href="#">gettaxi@taxipark.co.uk</a></li>
						<li><span class="fa fa-skype"></span>gettaxipark</li>
					</ul>					
				</div>		
			</div>
		</div>
	</section>

	{%endblock%}