{% extends "base.html" %}
{% block content %}

	<section id="services">
		<div class="container">
			<h4 class="yellow">Welcome</h4>
			<h2 class="h1">Our Services</h2>
			<p class="aligncenter short-width">Nulla egestas ante sit amet tincidunt bibendum. Duis id aliquet tellus, ut iaculis orci. Suspendisse efficitur ornare neque, rhoncus viverra dui semper in. Ut nec gravida enim. Maecenas viverra elit id nulla euismod tempus. Proin hendrerit nibh mauris, eget mollis ex elementum vel. Sed facilisis scelerisque viverra. </p>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-ms-6 matchHeight">	
					<div class="image"><img src="assets/images/_services-1.png" alt="Service"></div>
					<h5>Rapid city transfer</h5>
					<p>We will bring you quickly and comfortably to anywhere in your city</p>
				</div>
				<div class="col-md-3 col-sm-6 col-ms-6 matchHeight">	
					<div class="image"><img src="assets/images/_services-2.png" alt="Service"></div>
					<h5>Booking a hotel</h5>
					<p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the address</p>
				</div>
				<div class="col-md-3 col-sm-6 col-ms-6 matchHeight">	
					<div class="image"><img src="assets/images/_services-3.png" alt="Service"></div>
					<h5>Airport transfer</h5>
					<p>We will bring you quickly and comfortably to anywhere in your city</p>
				</div>
				<div class="col-md-3 col-sm-6 col-ms-6 matchHeight">	
					<div class="image"><img src="assets/images/_services-4.png" alt="Service"></div>
					<h5>Baggage transport</h5>
					<p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the address</p>
				</div>
			</div>
		</div>
	</section>
	<section id="tariffs" class="dark-bg" style="background-image: url(assets/images/_tariff-bg.jpg);">
		<div class="container">
			<h4 class="yellow">See Our</h4>
			<h2 class="h1 white">Tariffs</h2>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight">
						<div class="image"><img src="assets/images/_tariff-1.png" alt="Tariff"></div>
						<h4>Standart</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">$2<span>/km</span></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight">
						<div class="image"><img src="assets/images/_tariff-2.png" alt="Tariff"></div>
						<h4>Business</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">$2,7<span>/km</span></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight vip">
						<div class="image"><img src="assets/images/_tariff-3.png" alt="Tariff"></div>
						<h4 class="red">Vip</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">$5<span>/km</span></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="item matchHeight">
						<div class="image"><img src="assets/images/_tariff-4.png" alt="Tariff"></div>
						<h4>Bus-minivan</h4>
						<p>Standard sedan for a drive around the city at your service</p>
						<div class="price">$4,5<span>/km</span></div>
					</div>
				</div>												
			</div>
		</div>
	</section>

		<section id="testimonials">
		<hr class="lg">
		<div class="container">
			<h4 class="yellow">Happy Client's</h4>
			<h2 class="h1">Testimonials</h2>
			
			<div class="swiper-container row" id="testimonials-slider">
				<div class="swiper-wrapper">
					<div class="col-md-4 col-sm-6 swiper-slide">
						<div class="inner matchHeight">
							<div class="text">
								<p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.</p>
							</div>
							<div class="quote">
								<span class="fa fa-quote-left"></span>
								<div class="name">Anastasia Stone</div>
								<img src="assets/images/_client-1.jpg" alt="Client">
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 swiper-slide">
						<div class="inner matchHeight">
							<div class="text">
								<p>Suspendisse nec arcu sed nibh lacinia pretium. Phasellus eros ligula, mattis id rutrum non, eleifend vitae lacus. </p>
							</div>				
							<div class="quote">		
								<span class="fa fa-quote-left"></span>
								<div class="name">Steven Rashford</div>
								<img src="assets/images/_client-4.jpg" alt="Client">
							</div>
						</div>
					</div>	
					<div class="col-md-4 col-sm-6 swiper-slide">
						<div class="inner matchHeight">
							<div class="text">
								<p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris. </p>
							</div>			
							<div class="quote">			
								<span class="fa fa-quote-left"></span>
								<div class="name">Patrick James</div>
								<img src="assets/images/_client-5.jpg" alt="Client">
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 swiper-slide">
						<div class="inner matchHeight">
							<div class="text">
								<p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.</p>
							</div>
							<div class="quote">
								<span class="fa fa-quote-left"></span>
								<div class="name">Anastasia Stone</div>
								<img src="assets/images/_client-1.jpg" alt="Client">
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 swiper-slide">
						<div class="inner matchHeight">
							<div class="text">
								<p>Suspendisse nec arcu sed nibh lacinia pretium. Phasellus eros ligula, mattis id rutrum non, eleifend vitae lacus. </p>
							</div>				
							<div class="quote">		
								<span class="fa fa-quote-left"></span>
								<div class="name">Steven Rashford</div>
								<img src="assets/images/_client-4.jpg" alt="Client">
							</div>
						</div>
					</div>	
					<div class="col-md-4 col-sm-6 swiper-slide">
						<div class="inner matchHeight">
							<div class="text">
								<p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris. </p>
							</div>			
							<div class="quote">			
								<span class="fa fa-quote-left"></span>
								<div class="name">Patrick James</div>
								<img src="assets/images/_client-5.jpg" alt="Client">
							</div>
						</div>
					</div>					
				</div>
				<div class="arrows">
					<a href="#" class="arrow-left fa fa-caret-left"></a>
					<a href="#" class="arrow-right fa fa-caret-right"></a>
				</div>				
			</div>
		</div>
	</section>

	<section id="partners">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<h4 class="black margin-0">Our partners</h4>
					<h2 class="white margin-0">and clients</h2>
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="row items">
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="assets/images/_partner-1.png" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="assets/images/_partner-2.png" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="assets/images/_partner-3.png" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="assets/images/_partner-4.png" alt="Partner"></a></div>
					    <div class="col-md-5ths col-sm-3 col-ms-4 col-xs-6"><a href="#"><img src="assets/images/_partner-5.png" alt="Partner"></a></div>
					</div>				
				</div>				
			</div>
		</div>
	</section>

	<section id="block-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-ms-6">
					<h4>About us</h4>
					<p>Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum. </p>

					<div class="social-small social-yellow">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-google-plus"></a>
						<a href="#" class="fa fa-pinterest"></a>
					</div>					
				</div>
				<div class="col-lg-5 col-md-5 hidden-md hidden-sm hidden-xs hidden-ms">					
					<h4>Explore</h4>
					<div class="row">
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#">Get Taxi</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Tariffs</a></li>
								<li><a href="#">Application</a></li>

							</ul>						
						</div>
						<div class="col-md-5">
							<ul class="nav navbar-nav">
								<li><a href="#">Become a driver</a></li>
								<li><a href="#">Testimonials</a></li>
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Pages</a></li>
							</ul>						
						</div>						
					</div>

				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-ms-6">					
					<h4>Contact us</h4>
					<p><span class="yellow">Address:</span> 43 2-nd Avenue,  New York, NY 29004-7153</p>

					<ul class="address">
						<li><span class="fa fa-phone"></span>800-5-800</li>
						<li><span class="fa fa-envelope"></span><a href="#">gettaxi@taxipark.co.uk</a></li>
						<li><span class="fa fa-skype"></span>gettaxipark</li>
					</ul>					
				</div>		
			</div>
		</div>
	</section>

	{%endblock%}